@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
	scroll-behavior: smooth;
}
body {
	background-color: #f8f8f8;
	margin: 0;
	font-family: "Poppins", sans-serif;
	min-height: 200vh;
}
nav {
	position: fixed;
	width: 100%;
	z-index: 99;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
	
}
.home-menu,
.list-menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0 70px;
}

.home-menu li,
.list-menu li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100%;
}
.home-menu li a,
.list-menu li a {
	text-decoration: none;
	color: #000;
	font-size: 0.9em;
	font-weight: 500;
	padding: 1em 1.2em;
	margin: 0;
}
#navbar ul li a::before {
	content: "";
	width: 0;
	height: 2px;
	background-color: #000;
	margin: 0;
	margin-top: 5px;
	display: block;
}
#navbar ul li a::after {
	content: "";
	height: 2px;
	background-color: #000;
	margin: 0 auto;
	margin-top: 5px;
	display: block;
	width: 80%;
	border-radius: 50px;
	opacity: 0;
	transition: all 0.1s;
}
#navbar ul .menu a:hover::after {
	opacity: 1;
}
#search-icon {
	margin: 0;
	padding: 0;
	width: 30px;
}
.search {
	margin-left: 10px;
}
.add-shadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.bar,
.mark {
	display: none;
}
#search-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.wwd{
    padding-top: 5%;
    background-color: white;
    display:inline-flex;
    height: 500px;
    width:100%;
    padding-bottom: 5%;

}
.wwd-left{
    position: relative;
    padding-top: 30px;
    padding-left: 10%;
}
.wwd-right{
    padding-left: 5%;
    padding-top: 0;
    padding-right: 5%;
}
.wwd-left img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccc;
}
.btn-wwd{
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 0 0;
}
.btn-wwd:hover {
    background-color: black;
    color: white;
}
.container-wwdr{
    max-width: 500px;
    word-wrap: break-word;
}
.wwd-right h1{
    margin-bottom: 10px;
    margin-left: 0.3em;
}
.wwd-right dt {
    font-weight: bold;
    margin-top: 15px;
    display:list-item; 
    margin-left:1em;
}

.wwd-right  dd {
    margin: 0;
    padding: 0 0 0.5em 1em;
    color: #0202029d;
    font-size: small;
  } 
.resp-wwd{
    display: none;
}
.modal-header {
    padding: 10px 16px;
    background-color: #000;
    color: white;
    text-align: right;
}
.modal-header .close{
    font-size: xx-large;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 3px 3px 3px 3px;
    color: #000;
}
.modal h2{
    width: 100%;
    text-align: center;
}
.modal-body {
    padding: 2px 16px;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px 10px 10px 10px;
	padding-bottom: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
hr.solid {
    border-top: 3px solid #bbb;
    margin : 3%;
}
.modal dt {
    font-weight: bold;
}
.modal dd {
    margin: 0;
    color: #0202029d;
    font-size: small;
	margin-bottom: 15px;
} 

@media screen and (max-width: 1080px) {
	.home-menu {
		margin-right: 0;
	}
	.list-menu {
		margin-left: 0;
	}
	#search-container {
		display: none;
	}
}

@media screen and (max-width: 878px) {
	.home-menu li a {
		padding: 0.5em 1.2em;
	}
	.home-menu.active {
		background-color: #f5f5f5;
	}
	.bar,
	.mark {
		display: initial;
		cursor: pointer;
		width: 15px;
	}
	#navbar {
		flex-direction: column;
		justify-content: flex-start;
	}
	#navbar ul:first-child {
		align-items: center;
		margin: 0;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 20px;
	}
	.list-menu {
		flex-direction: column;
		display: none;
		margin: 0;
		justify-content: space-between;
		margin-top: 10vh;
	}
	.show {
		display: initial;
		animation: fadeIn 0.3s ease-in-out;
	}
	.hidden {
		display: none;
		animation: fadeOut 0.3s ease-in-out;
	}
	.list-menu li {
		margin: 0;
		padding: 0;
		height: auto;
		display: flex;
		align-items: center;
	}
	.list-menu li a {
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		padding: 2vh;
	}
	#navbar ul .menu a:hover::after {
		opacity: 0;
	}
	#navbar ul .menu a:hover {
		background-color: #f5f5f5;
	}
	.navbar.full-height {
		height: 100vh;
	}
	#search-container {
		display: none;
	}
	.remove-scrolling {
		height: 100%;
		overflow: hidden;
		width: 98.75%;
	}
	.wwd{
        padding-top: 0;
        display:flex;
        height: 300px;
        width:100%;
        background-image: url('img/wwd.png');
        background-size: cover;
        resize:both;
        background-position: center center;
        position: relative; 
        justify-content: center;
        align-items: center;
    }
    .wwd-left{
        display: none;
    }
    .wwd-right{
        display: none;
    }
    .btn-wwd{
        position:unset;
        background-color: white;
        color: black;
        font-size: 16px;
        padding: 12px 30px;
        border: none;
        cursor: pointer;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    .resp-wwd{
        text-align: center;
        width: 100%;
        padding: 5%;
        padding-top: 0;
        display:unset;
        position: relative; 
    }
    .wwd::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.8;
        background-color: #ffffff;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.container {
	min-height: 300px;
	border: solid red 1px;
}
.container-body{
	padding-top:50px;
}